@{
    ViewBag.Title = "Create";
}
@model CompanyMVC.ViewModel.CompanyViewModel

<h2> Create </h2>

<div align="center">
    @using (Html.BeginForm("create", "Company", FormMethod.Post))
    {
        <table class="table">
            <tr>
                <td>
                    @Html.LabelFor(model => model.company.CompanyName)
                </td>

                <td>
                    @Html.TextBoxFor(model => model.company.CompanyName)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.company.LastName)
                </td>

                <td>
                    @Html.TextBoxFor(model => model.company.LastName)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.company.Email)
                </td>

                <td>
                    @Html.TextBoxFor(model => model.company.Email)
                    @Html.ValidationMessageFor(model => model.company.Email, "", new { @class = "error" })
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.company.Phone)
                </td>

                <td>
                    @Html.TextBoxFor(model => model.company.Phone)
                    @Html.ValidationMessageFor(model => model.company.Phone, "", new { @class = "error" })
                </td>
            </tr>
            <tr>
                <td></td>

                <td>
                    <input type="submit" value="Save" />
                </td>
            </tr>
        </table>
    }
</div>

<style type="text/css">
    body {
        font-family: Arial;
        font-size: 10pt;
    }

    .error {
        color: red;
    }
</style>